<nav class="select-project">
    <div class="tip-text">
        <h4>项目选择</h4>
    </div>
    <ul>
        <li class="project-item" ng-click="selectProjectCtrl.select(1)">
            <div>
                <i class="fa fa-lg fa-user"></i>
            </div>
            <div>
                <span class="item-name">小贝壳母婴版1期</span>
            </div>
        </li>
        <li class="project-item" ng-click="selectProjectCtrl.select(2)">
            <div>
                <i class="fa fa-lg fa-user"></i>
            </div>
            <div>
                <span class="item-name">小贝壳母婴版2期</span>
            </div>
        </li>
        <li class="project-item" ng-click="selectProjectCtrl.select(3)">
            <div>
                <i class="fa fa-lg fa-user"></i>
            </div>
            <div>
                <span class="item-name">080计划</span>
            </div>
        </li>
        <li class="project-item" ng-click="selectProjectCtrl.select(4)">
            <div>
                <i class="fa fa-lg fa-user"></i>
            </div>
            <div>
                <span class="item-name">Research B</span>
            </div>
        </li>
        <li class="project-item" ng-click="selectProjectCtrl.select(4)">
            <div>
                <i class="fa fa-lg fa-user"></i>
            </div>
            <div>
                <span class="item-name">小贝壳乙肝版1期</span>
            </div>
        </li>
    </ul>
</nav>
